.enter {
  animation: enterAnimation 120ms forwards;
}

.leave {
  opacity: 1;
  animation: leaveAnimation 120ms forwards;
}

@keyframes enterAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes leaveAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
